.picture {    

    width: 100px;
    height: 100px;
}

.navbar {
    background-color: rgba(1, 50, 67, 1);
  }

  body { 
    background: url(https://cdn.pixabay.com/photo/2016/07/07/01/16/abstract-1501710_960_720.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
